Resemble interpolate the combined weather data
Combine_S1_all_outs
Combine_S2_all_outs

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv 
import matplotlib.pyplot as plt
import pytz
# import siphon

In [4]:
dfs=pd.read_csv('Combine_outs_S2_2017.csv',index_col=0)  
# dfs=pd.read_csv('Combine_outs_S1_2017.csv',index_col=0)  


dfs.head()
# dfs.describe()

,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
2017-03-31 09:00:00+00:00,265.500000,4.97,-2.12,41.0,0.03,0.35,77.400002,440.0,338.0
2017-03-31 12:00:00+00:00,265.299988,5.05,-1.10,64.0,0.13,0.35,77.400002,340.0,262.0
2017-03-31 15:00:00+00:00,262.299988,5.95,-2.52,74.0,0.09,0.35,77.300003,40.0,28.0
2017-03-31 18:00:00+00:00,258.399994,6.16,-0.93,64.0,0.09,0.35,77.300003,18.0,14.0
2017-03-31 21:00:00+00:00,258.000000,6.82,-0.15,21.0,0.00,0.35,0.000000,0.0,0.0

In [5]:
import os
import itertools
import matplotlib.pyplot as plt
import pandas as pd
import pvlib
from pvlib import clearsky, atmosphere, solarposition
from pvlib.location import Location

In [6]:
dfs.index

Index(['2017-03-31 09:00:00+00:00', '2017-03-31 12:00:00+00:00',
       '2017-03-31 15:00:00+00:00', '2017-03-31 18:00:00+00:00',
       '2017-03-31 21:00:00+00:00', '2017-04-01 00:00:00+00:00',
       '2017-04-01 03:00:00+00:00', '2017-04-01 06:00:00+00:00',
       '2017-04-01 09:00:00+00:00', '2017-04-01 12:00:00+00:00',
       ...
       '2017-12-31 12:00:00+00:00', '2017-12-31 15:00:00+00:00',
       '2017-12-31 18:00:00+00:00', '2017-12-31 21:00:00+00:00',
       '2018-01-01 00:00:00+00:00', '2018-01-01 03:00:00+00:00',
       '2018-01-01 06:00:00+00:00', '2018-01-01 09:00:00+00:00',
       '2018-01-01 12:00:00+00:00', '2018-01-01 15:00:00+00:00'],
      dtype='object', length=2107)

In [7]:
dfs.index=pd.to_datetime(dfs.index)
# dfs.index=dfs.index.tz_localize('UTC').tz_convert('Japan')
dfs.index=dfs.index.tz_localize('UTC')

dfs.index

DatetimeIndex(['2017-03-31 09:00:00+00:00', '2017-03-31 12:00:00+00:00',
               '2017-03-31 15:00:00+00:00', '2017-03-31 18:00:00+00:00',
               '2017-03-31 21:00:00+00:00', '2017-04-01 00:00:00+00:00',
               '2017-04-01 03:00:00+00:00', '2017-04-01 06:00:00+00:00',
               '2017-04-01 09:00:00+00:00', '2017-04-01 12:00:00+00:00',
               ...
               '2017-12-31 12:00:00+00:00', '2017-12-31 15:00:00+00:00',
               '2017-12-31 18:00:00+00:00', '2017-12-31 21:00:00+00:00',
               '2018-01-01 00:00:00+00:00', '2018-01-01 03:00:00+00:00',
               '2018-01-01 06:00:00+00:00', '2018-01-01 09:00:00+00:00',
               '2018-01-01 12:00:00+00:00', '2018-01-01 15:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=2107, freq=None)

In [8]:
# resampled_data = data.resample('5min').interpolate()
res_dfs= dfs.resample('30min').interpolate()
res_dfs.head()

,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
2017-03-31 09:00:00+00:00,265.500000,4.970000,-2.12,41.000000,0.030000,0.35,77.400002,440.000000,338.000000
2017-03-31 09:30:00+00:00,265.466665,4.983333,-1.95,44.833333,0.046667,0.35,77.400002,423.333333,325.333333
2017-03-31 10:00:00+00:00,265.433329,4.996667,-1.78,48.666667,0.063333,0.35,77.400002,406.666667,312.666667
2017-03-31 10:30:00+00:00,265.399994,5.010000,-1.61,52.500000,0.080000,0.35,77.400002,390.000000,300.000000
2017-03-31 11:00:00+00:00,265.366659,5.023333,-1.44,56.333333,0.096667,0.35,77.400002,373.333333,287.333333

In [9]:
# dfs.describe()
res_dfs.describe()

,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
count,13261.000000,13261.000000,13261.000000,13261.000000,13261.000000,13261.000000,13261.000000,13261.000000,13261.000000
mean,271.719184,0.024539,-0.647241,67.483259,0.263337,0.183870,29.946597,133.204736,58.120579
std,12.565799,4.775174,5.276510,36.280411,0.711198,0.203548,29.568617,180.959136,100.354929
min,237.300003,-13.698367,-13.574277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,262.616679,-3.307058,-4.580000,39.666667,0.000000,0.000000,4.603333,0.000000,0.000000
50%,272.200012,-0.117567,-0.700780,85.166667,0.023333,0.073333,18.615000,41.000000,12.666667
75%,280.054730,3.520000,3.455000,99.166667,0.186667,0.370000,60.333333,206.000000,66.666667
max,307.588928,15.620483,12.690000,100.000000,11.600000,0.630000,83.800003,750.000000,563.000000

In [10]:
# dx=pd.to_datetime('2017-12-31 06:00:00+09:00')
dx= pd.Timestamp(2017,12,31,16,0,0).tz_localize('UTC')
dx_jp=dx.tz_convert('Japan')
form_dx_jp=dx_jp.strftime('%Y-%m-%d %H:%M:%S')
print(dx)
print(dx_jp)
print(form_dx_jp)

2017-12-31 16:00:00+00:00
2018-01-01 01:00:00+09:00
2018-01-01 01:00:00

In [11]:
##### This cell is just sample data for test conversion of UTC to Japan timezone
res_dx1=pd.to_datetime(['2017-12-31 09:00:00', '2017-12-31 09:30:00', '2017-12-31 21:00:00'])
res_dx1=res_dx1.tz_localize('UTC')
res_jp1=res_dx1.tz_convert('Japan')
form_res_jp1=res_jp1.strftime('%Y-%m-%d %H:%M:%S')

print(res_dx1)
print(res_jp1)
print(form_res_jp1)

DatetimeIndex(['2017-12-31 09:00:00+00:00', '2017-12-31 09:30:00+00:00',
               '2017-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)
DatetimeIndex(['2017-12-31 18:00:00+09:00', '2017-12-31 18:30:00+09:00',
               '2018-01-01 06:00:00+09:00'],
              dtype='datetime64[ns, Japan]', freq=None)
Index(['2017-12-31 18:00:00', '2017-12-31 18:30:00', '2018-01-01 06:00:00'], dtype='object')

In [12]:
res_dx=pd.to_datetime(res_dfs.index.strftime('%Y-%m-%d %H:%M:%S'))
res_dx_utc=res_dx.tz_localize('UTC')
res_jp=res_dx_utc.tz_convert('Japan')
form_res_jp=res_jp.strftime('%Y-%m-%d %H:%M:%S')
# print(res_dx_utc)
# print(res_jp)
print(form_res_jp)

Index(['2017-03-31 18:00:00', '2017-03-31 18:30:00', '2017-03-31 19:00:00',
       '2017-03-31 19:30:00', '2017-03-31 20:00:00', '2017-03-31 20:30:00',
       '2017-03-31 21:00:00', '2017-03-31 21:30:00', '2017-03-31 22:00:00',
       '2017-03-31 22:30:00',
       ...
       '2018-01-01 19:30:00', '2018-01-01 20:00:00', '2018-01-01 20:30:00',
       '2018-01-01 21:00:00', '2018-01-01 21:30:00', '2018-01-01 22:00:00',
       '2018-01-01 22:30:00', '2018-01-01 23:00:00', '2018-01-01 23:30:00',
       '2018-01-02 00:00:00'],
      dtype='object', length=13261)

In case of using (...res_jp.date & res_jp.time) this will lead to the adjust the time as Japan timezone rather than UTC in case of using (...res_dfs.index.date & res_dfs.index.time)
Note:When changes occur this needs to clear and restart to run the script

In [13]:
#### res_dfs["DATE"] = res_dfs.index.date
#### res_dfs["TIME"] = res_dfs.index.time

# res_dfs.insert(0, 'DATE', res_dfs.index.date)
# res_dfs.insert(1, 'TIME', res_dfs.index.time)

res_dfs.insert(0, 'DATE', res_jp.date)
res_dfs.insert(1, 'TIME', res_jp.time)

res_dfs.head()

,DATE,TIME,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
2017-03-31 09:00:00+00:00,2017-03-31,18:00:00,265.500000,4.970000,-2.12,41.000000,0.030000,0.35,77.400002,440.000000,338.000000
2017-03-31 09:30:00+00:00,2017-03-31,18:30:00,265.466665,4.983333,-1.95,44.833333,0.046667,0.35,77.400002,423.333333,325.333333
2017-03-31 10:00:00+00:00,2017-03-31,19:00:00,265.433329,4.996667,-1.78,48.666667,0.063333,0.35,77.400002,406.666667,312.666667
2017-03-31 10:30:00+00:00,2017-03-31,19:30:00,265.399994,5.010000,-1.61,52.500000,0.080000,0.35,77.400002,390.000000,300.000000
2017-03-31 11:00:00+00:00,2017-03-31,20:00:00,265.366659,5.023333,-1.44,56.333333,0.096667,0.35,77.400002,373.333333,287.333333

In [14]:
# res_jp
res_dfs.head()

,DATE,TIME,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
2017-03-31 09:00:00+00:00,2017-03-31,18:00:00,265.500000,4.970000,-2.12,41.000000,0.030000,0.35,77.400002,440.000000,338.000000
2017-03-31 09:30:00+00:00,2017-03-31,18:30:00,265.466665,4.983333,-1.95,44.833333,0.046667,0.35,77.400002,423.333333,325.333333
2017-03-31 10:00:00+00:00,2017-03-31,19:00:00,265.433329,4.996667,-1.78,48.666667,0.063333,0.35,77.400002,406.666667,312.666667
2017-03-31 10:30:00+00:00,2017-03-31,19:30:00,265.399994,5.010000,-1.61,52.500000,0.080000,0.35,77.400002,390.000000,300.000000
2017-03-31 11:00:00+00:00,2017-03-31,20:00:00,265.366659,5.023333,-1.44,56.333333,0.096667,0.35,77.400002,373.333333,287.333333

Note: Some cells needs to run the clear and restart 

Saving the resampled data in CVS file

In [15]:
# res_dfs.to_csv('Res_comb_S1_mes_2017_tz_Jp.csv', encoding='utf-8', index=False)
# res_dfs.to_csv('Res_comb_S2_mes_2017_tz_Jp.csv', encoding='utf-8', index=False)